<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesheets/styles.css" />
    <title>Admin</title>
  </head>
  <body>
    <h1><%= locals.message ? locals.message : "Are you the Chosen One?" %></h1>
    <form action="" method="post">
      <input type="text" name="admin_code" />
      <button>Submit</button>
    </form>
  </body>
</html>
