<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>Join The Club</title>
  </head>
  <body>
    <h1>Enter the passcode</h1>
    <form action="" method="post">
      <input type="text" name="passcode" />
      <button>Submit</button>
    </form>
  </body>
</html>
