<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <title>Messages</title>
  </head>
  <body>
    <nav>
      <% if (!locals.user) { %>
        <a href="/login">Login</a>
        <a href="/signup">Sign up</a>
      <% } else { %>
        <a href="/logout">Logout</a>
      <% } %>
      <% if (locals.user && !locals.user.member) { %>
        <a href="/member">Join the club!</a>
      <% } %>
      <% if (locals.user && !locals.user.admin) { %>
        <a href="/admin">Chosen one?</a>
      <% } %>
    </nav>
      <h1>Message Board</h1>
      <% if (!posts.length) { %>
        <p>No posts yet.</p>
      <% } else { %>
        <% posts.forEach(post => { %>
          <% if (locals.user && locals.user.member) { %>
            <div class="post">
              <p><%= post.user.username %></p>
              <p><%= post.date_posted_formatted %></p>
              <% if (locals.user.admin) { %>
               <form action="" method="post">
                <input type="hidden" name="messageid" value=<%= post._id %>>
                <button>Delete</button>
               </form>
              <% } %>
            </div>
          <% } %>
          <p><%= post.message %></p>
        <% }) %>
      <% } %>
      <a href="/post">Post a message</a>
  </body>
</html>
